@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all .3s ease;

}
/*  VARIÁVEIS DE CSS3 e CONFIGURAÇÕES GERAIS */
:root{
    --dsk-titulo-h1: 5em;
    --dsk-titulo-h2: 3em;
    --dsk-titulo-h3: 2.5em;
    --dsk-paragrafo: 1.3em;

    --mbl-titulo-h1: 1.5em;
    --mbl-titulo-h2: 1.3em;
    --mbl-paragrafo: 1em;

    --azul: #3A6298;
    --grena: #BE2A29;
    --preto: #000000;
    --branco: #FFFFFF;
}
/*  RESPONSIVIDADE MOBILE (0px - 767px)  */
@media (max-width: 767px){
    
    body{
        background: rgb(255, 255, 255);
    }
    /*   ----------  SECTION HEADER  ----------  */
    header{
        background: #00000000; 
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        margin: auto;
        padding: 0 10%;
        transition: all .5s ease;
    }
    header .logo a img{
        width: 15%;
    }
    header .menu.active{
        right: 0;
    }
    header .menu .close-btn{        
        color: white;
        position: absolute;
        top: 0;
        left: 83%;
        margin: 21px 0px 0px 0px;
    }
    header nav{
        position: fixed;
        background: rgb(160, 40, 40);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        min-width: 50%;
        height: 100vh;
        top: 0;
        right: -110%;
        padding: 80px 20px;
        transition:  0.5s;
        transition-property: right;
    }
    header nav a {
        display: block;
        font-size: 2rem;
        margin: 5px;
        padding: 0 15px;
        color: var(--branco);
        font-weight: 500;
    }
    header nav a:hover {
        color: #b7b7b7;
    }
    header .button {
        display: none;
    }
    header .btn{
        display: block;
        font-size: 1.5rem;
        color: var(--azul);
    }
    header.sticky{
        height: 60px;
        background: var(--azul);
        box-shadow: 0px 5px 5px 0px #0000006a;
        border-bottom: #a51212 solid 5px;
        transition: all .2s ease;
    }
    header.sticky .logo{
        display: none;
    }
    header.sticky .logo_mbl a img{
        display: block;
        width: 15%;
    }
    header.sticky .btn{
        display: block;
        color: white;
    }


    /*   ----------  SECTION HOME  ----------  */
    .home{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 50px;
    }  
    .home aside{
        width: 100%;
        height: 40%;
    }
    .home aside img{
        display: flex;
        justify-content: center;
        width: 90%;
        margin: auto;
    }
    .home article{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .home article h1 {
        font-size: 3rem;
    }
    .home article h2 {
        font-size: 2rem;
        line-height: 30px;
    }
    .home article p {
        font-size: 1.3rem;
        line-height: 20px;
    }
    .home #btn-home {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        padding: 0 20px 5px 15px;
    }    
    /*   ----------  SECTION PRODUTOS  ----------  */
    .produtos{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .produtos .title h2{
        font-size: 1.5rem;
    }
    .produtos .container{background: rgba(255, 0, 0, 0);
        width: 95%;
        height: 100%;

    }
    .produtos .container .card{background: rgb(255, 255, 255);
        width: 95%;
    }
    /*   ----------  SECTION SERVIÇOS  ----------  */
    .servicos{background: rgba(255, 0, 0, 0);
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .servicos .container{background-color: #3a639833;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        width: 90%;
        height: 90%;
        margin: auto;
        padding: 0;
    }
    .servicos .container article{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding: 0;
    }
    .servicos .container aside{background: rebeccapurple;
        display: flex;
        justify-content: center;

    }
    .servicos .container aside img{background: red;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 70%;
    }
    /*   ----------  SECTION BENEFÍCIOS  ----------  */
    .beneficios{
        display: none;
    }
    /*   ----------  SECTION DEPOIMENTOS  ----------  */
    .depoimentos{
        display: none;
    }
    /*   ----------  SECTION EMPRESA  ----------  */
    .empresa {
        display: none;
        flex-direction: column-reverse;
        width: 100%;
        height: 100vh;
        margin: auto;
    }
    .empresa article{background: rgb(255, 255, 255);
        width: 90%;
        height: 100%;
    }
    .empresa aside{
        width: 90%;
    }
    .empresa aside img {
        width: 100%;
    }
    /*   ----------  SECTION CONTATOS  ----------  */
    .contatos{
        display: none;
    }

    footer {
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 50px;
        color: white;
        font-size: 10px;
        text-align: center;    
    }
}

