@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    transition: all .3s ease;

}
/*  VARIÁVEIS DE CSS3 e CONFIGURAÇÕES GERAIS */
:root{
    --dsk-titulo-h1: 5em;
    --dsk-titulo-h2: 3em;
    --dsk-titulo-h3: 2.5em;
    --dsk-paragrafo: 1.3em;

    --mbl-titulo-h1: 1.5em;
    --mbl-titulo-h2: 1.3em;
    --mbl-paragrafo: 1em;

    --azul: #3A6298;
    --grena: #BE2A29;
    --preto: #000000;
    --branco: #FFFFFF;
}
/*  ++++++++++++++++++++++++++++  SEÇÃO BODY  +++++++++++++++++++++++++++++++  */
body{
    background: var(--branco);
}
/*  ++++++++++++++++++++++++++++  SEÇÃO HEADER  +++++++++++++++++++++++++++++++  */

header{
    background: rgba(0, 0, 0, 0);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: auto;
    padding: 0 10%;
    transition: all .5s ease;
}
header nav .menu.active{
    right: 0;
}
header .btn{
    display: none;
}
header .logo a img{
    width: 15%;
}
header .logo_mbl a img{
    display: none;
}
header nav{
    background: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    background: rgba(255, 255, 0, 0);
    margin: 0 0px;
    padding: 0 12px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #000000;
    font-size: 1.2rem;
    color: black;
    margin: 0px 10px;
    padding: 0px 0px;
    font-weight: 300;
}
header nav a:hover{
    color: var(--azul);
    border-bottom: var(--grena) solid 1px;
    transition: all .1s ease;
}
header nav .botao a {
    background: green;
    margin: 0 0 0 20px;
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
}
header nav .botao a:hover{
    background: var(--grena);
    color: rgb(255, 255, 255);
}
header.sticky{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background: var(--azul);
    box-shadow: 0px 10px 10px 0px #ff000077;
    border-bottom: var(--grena) solid 5px;
    transition: all .1s ease;
}
header.sticky .logo a img{
    display: none;
}
header.sticky .logo_mbl a img{
    background: rgba(255, 0, 0, 0);
    display: block;
    justify-content: center;
    align-items: center;
    width: 10%;
}
header.sticky nav a{
    color: var(--branco);
}
header.sticky nav a:hover{
    color: #b6b6b6;
    border-bottom: var(--grena) solid 0px;
}
header.sticky .btn{
    display: none;
}
/*  ++++++++++++++++++++++++++++  SEÇÃO MAIN +++++++++++++++++++++++++++++++  */
main{background: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
/*  ++++++++++++++++++++++++++++  SEÇÃO HOME  +++++++++++++++++++++++++++++++  */
.home {background: rgba(255, 255, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 10%;
}
.home article{
    background: rgba(255, 0, 0, 0);
    display: block;
    align-items: center;
    width: 50%;
    line-height: 60px;
}
.home article h1 {
    font-size: var(--dsk-titulo-h1);
    font-weight: 900;
}
.home article h1 span{
    color: var(--azul);
    /*text-shadow: 3px 3px 5px var(--preto);  */
}
.home article h2 {
    color: var(--grena);
    font-size: var(--dsk-titulo-h2);
    margin-bottom: 20px;
}
.home article p {
    font-size: var(--dsk-paragrafo);
    line-height: 25px;
    margin-top: 0px;
}
.home aside{background: #3a639800;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.home aside img {background: rgba(0, 128, 0, 0);
    width: 100%;
    height: 70%;
}
.home #btn-home {
    background-color: var(--grena);
    color: var(--branco);
    width: 300px;
    height: 50px;
    margin-top: 20px;
    padding: 0 10px 7px 10px;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}
.home #btn-home:hover {
    background: var(--azul);
    color: var();
    transition: all .5s ease;
}
/*  ++++++++++++++++++++++++++++  SEÇÃO PRODUTOS +++++++++++++++++++++++++++++++  */
.produtos {background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    padding-top: 60px;
}
.produtos .title h2{background: rgba(143, 143, 11, 0);
    padding: 30px 0x;
    font-size: 3rem;
    text-align: center;
}
.produtos .container{background: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 600px;
    margin: 10px 10%;
    border: #00000000 solid 1px;
}
.produtos .container .card{background: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 500px;
    max-width: 300px;
    margin: 10px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}
.produtos .container .card img{background: #006eff00;
    height: 180px;
    margin-bottom: 10px;
}
.produtos .container .card h2{background: #3a639800;
    margin-bottom: 10px;
}
.produtos .container .card h3{background: #3a639800;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: blue;
}
.produtos .container .card h4{background: #3a639800;
    font-size: 1rem;
    font-weight: 400;
    color: red;
    text-decoration: line-through;
}
.produtos .container .card p{background: #3a639800;
    margin-bottom: 30px;
    font-size: 1rem;
    line-height: 1.3;
    color: black;
}
.produtos .container .card a{background: green;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;

}
/*  ++++++++++++++++++++++++++++  SEÇÃO SERVICOS  +++++++++++++++++++++++++++++++  */
.servicos {background: rgba(0, 0, 0, 0.467);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 60px;
}
.servicos .container{background: rgba(255, 0, 0, 0.421);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}
.servicos .container .card{background: rgb(255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 350px;
    height: 500px;
    margin: 10px;
    padding: 20px;
    gap: 1;
}
.servicos .container aside{background: rgba(0, 128, 0, 0);
    width: 50%;
}
/*  ++++++++++++++++++++++++++++  SEÇÃO SERVICOS  +++++++++++++++++++++++++++++++  */
.beneficios {background: rgba(242, 242, 242, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 60px;
}
.beneficios .container{background: rgba(255, 0, 0, 0);
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beneficios .container article{background: rgba(255, 255, 0, 0);
    width: 50%;
}
.beneficios .container aside{background: rgba(0, 128, 0, 0);
    width: 50%;
}
/*  ++++++++++++++++++++++++++++  SEÇÃO DEPOIMENTOS  +++++++++++++++++++++++++++++++  */
.depoimentos {background: rgba(242, 242, 242, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 60px;
}
.depoimentos .container{background: rgba(255, 0, 0, 0);
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.depoimentos .container article{background: rgba(255, 255, 0, 0);
    width: 50%;
}
.depoimentos .container aside{background: rgba(0, 128, 0, 0);
    width: 50%;
}
/*  ++++++++++++++++++++++++++++  SEÇÃO SOBRE  +++++++++++++++++++++++++++++++  */
.empresa {
    background: rgb(230, 230, 230);
    padding-top: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: auto;
    padding-bottom: 50px;
}
.empresa .container{
    background: rgb(230, 230, 230);
    padding-top: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: auto;
    padding-bottom: 50px;
}
.empresa .container article{
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;    
}
.empresa .container article h3{
    font-size: 2em;
    margin-bottom: 20px;
}
.empresa .container article h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.empresa .container article p{
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 20px;
}
.empresa .container article a{
    margin-top: 50px;
    color: var(--branco);
    width: 50%;
    height: 20px;
    padding: 10px 70px;
    background: var(--grena);
    border-radius: 5px;
}
.empresa .container aside{
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/*  ++++++++++++++++++++++++++++  SEÇÃO ORCAMENTO  +++++++++++++++++++++++++++++++  */
.orcamento {background: rgba(172, 255, 47, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 60px;
}
.orcamento .container{background: rgba(255, 0, 0, 0);
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orcamento .container article{background: rgba(255, 255, 0, 0);
    width: 50%;
}
.orcamento .container aside{background: rgba(0, 128, 0, 0);
    width: 50%;
}

/*  ++++++++++++++++++++++++++++  SEÇÃO CONTATOS  +++++++++++++++++++++++++++++++  */
.contatos {background: rgba(255, 234, 47, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 60px;
}
.contatos .container{background: rgba(255, 0, 0, 0);
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contatos .container article{background: rgba(255, 255, 0, 0);
    width: 50%;
}
.contatos .container aside{background: rgba(0, 128, 0, 0);
    width: 50%;
}

/*  ++++++++++++++++++++++++++++  SEÇÃO FOOTER  +++++++++++++++++++++++++++++++  */
footer {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 1em;
    text-align: center;
}

